body {
	
	background: #000000 url(images/img01.gif) repeat left top;
	font-family: monospaced, courier;
  font-weight: 400;
  font-size: 50px;
  color: white;
}

h1 {
  font-weight: 100;
  text-align: center;
  font-style:normal;
}

a {
  font-size: 20px;
  color: white;
  text-align: center;
}

div#splash {
	margin-left: auto;
  margin-right: auto;
  width: 800px;
}

div#splash img{
	border: 0px;
}